/* _content/MUSCAttendance/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: rgb(255, 127, 50);
}

.btn-primary {
  color: #fff;
  background-color: rgb(255, 127, 50);
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: rgb(255, 127, 50);
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
} */

.box-shadow[b-as84d40x0k] {
  box-shadow: 0 .25rem .75rem rgb(255, 127, 50);
}

button.accept-policy[b-as84d40x0k] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-as84d40x0k] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  text-align: center;
}
