@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="container">
        <div class="text-center"><h1>Hendrix Music Event Attendance</h1></div>
        <div class="text-center"><h5>To log in or register your account, click one of the buttons below!</h5></div>
        <div class="row text-center">
            <div class="button-container">
            <a href="https://hendrix-musc-attendance.azurewebsites.net/Identity/Account/Login">
            <button type="button" class="btn btn-primary float-center text-center" style="background-color: rgb(255, 127, 50); margin-top: 10px; margin-bottom: 10px; margin-right: 10px;">Log In</button>
            </a>
            <a href="https://hendrix-musc-attendance.azurewebsites.net/Identity/Account/Register">
            <button type="button" class="btn btn-primary float-center text-center" style="background-color: rgb(255, 127, 50); margin-top: 10px; margin-bottom: 10px;">Register</button>
            </a>
        </div>
        </div>
    <div class="text-center bg-image float-center" style="
      background-image: url('https://www.hendrix.edu/content2/images/altusbell.jpg');
      height: 600px;
      width: 1200px;
      margin-left: 32px;
    ">
    </div>
    </div>
</body>
