@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="text-center bg-image" style="
      background-image: url('https://www.hendrix.edu/content2/images/altusbell.jpg');
      height: 600px;
      width: 1200px;
    ">
        <button type="button" class="btn btn-primary" style="background-color: rgb(255, 127, 50)" href="https://hendrix-musc-attendance.azurewebsites.net/Identity/Account/Login">Log In</button>
    </div>
</body>
