html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Merriweather Sans', sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tbody tr:hover {background-color: #ddd;}



thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(255, 127, 50);
  color: white;
}



.sortlink {
  color: white
}

.sortlink:hover{color: rgb(35, 35, 35);}

.btn {
  color: #fff;
  background-color: rgb(255, 127, 50);
  border-color: rgb(226, 110, 38);
}
.btn:hover {background-color: rgb(226, 110, 38);  border-color: rgb(234, 118, 45);
}



a {
  color: rgb(62, 177, 200);
}

a:hover{color: rgb(53, 156, 177)}

.site-header {
  background-color: rgb(255, 127, 50);
}
.site-header a {
  color: white !important;
}



dl {
  display: flex;
  flex-flow: column wrap;
  max-height: 6em;
  border: 1px solid #ddd;
}
dt {
  padding: 2px 4px;
  background: rgb(183	154	128);
  color: #fff;
}
dd {
  margin: 0;
  padding: 4px;
  min-height: 3em;
}

.btn {
  color: #fff !important;
  background-color: rgb(255, 127, 50);
  border-color: rgb(226, 110, 38);
}
.btn:hover {background-color: rgb(226, 110, 38);  border-color: rgb(234, 118, 45);
}